:root {
  --green: #339966;
  --purple: #662c91;
}

a:link,
a:visited,
a:active {
  color: inherit;
  border: none !important;
}

head {
  font-family: "Roboto", sans-serif;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

#header-logo {
  max-width: 180px;
  height: auto;
  padding: auto 0px;
}

.jumbotron {
  padding: 10px 0px 0px 0px;
  margin: 0px;
}

i {
  color: var(--green);
  padding: 0px 5px;
}

#donate {
  font-weight: bolder;
}

.flyer-image {
  max-width: 100%;
}

.btn,
.btn:hover,
.btn:active {
  background-color: var(--green);
  border: none !important;
}

a:hover,
.nav-link:hover {
  font-weight: bolder;
}

.dropdown-item:active {
  background-color: inherit;
}

.card-link,
.card-link:hover {
  color: var(--green);
}

#content-pages {
  display: none;
}

h2 {
  color: var(--green);
  font-weight: bold;
}

.banner {
  background-color: var(--purple);
  color: white;
}

.card-img-top {
  width: auto;
  height: auto;
  max-width: 100%;
}

iframe {
  max-width: 100%;
}

.topBotBorder {
  border-top: solid white 0.5px;
  border-bottom: solid white 0.5px;
}

.greenText {
  color: var(--green);
}

.purpleText {
  color: var(--purple);
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

ul {
  list-style: disc inside;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ol li {
  margin: 0px;
  padding: 0px;
  text-indent: -2.2em;
  margin-left: 3.4em;
}

.resource-img {
  max-height: 100px;
  width: auto;
}

.partner-img-lg {
  max-height: 200px;
  width: auto;
}

.partner-img-sm {
  max-height: 100px;
  width: auto;
}

#platinum {
  color: grey;
}

#gold {
  color: gold;
}

#silver {
  color: silver;
}

#green {
  color: green;
}

.store-image {
  height: 180px;
  width: auto;
  object-fit: contain;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0.25rem 1.5rem;
}

.shopping-cart {
  position: relative;
}

.caption {
  font-size: 10pt;
  position: absolute;
  left: -9px;
  bottom: -1px;
  width: 100%;
}

.purpleButton,
.purpleButton:hover,
.purpleButton:active {
  background-color: var(--purple);
}

.no-border {
  border: none;
}

video {
  width: 400px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
}

.nav-link,
.nav-link:visited,
.nav-link:hover,
.nav-link:active {
  background-color: inherit;
  border: none !important;
}

button:focus {
  outline-width: 0px !important;
}

.red-border,
.red-border:active,
.red-border:hover {
  border: 2px solid red !important;
}

.red-text {
  font-weight: bold;
  color: red;
}

.no-border {
  border: none;
}

button:active {
  border: inherit;
}

@media (max-width: 768px) {
  #header-logo {
    display: none;
  }
}
